# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment variables
.env
.env*
.env*.local
*.env
.env.*

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Database
postgres_data/
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ML Models & Data
production_models/*.joblib
production_models/*.json
*.joblib
*.joblib.bak
*.pth
*.h5
*.csv.gz

# IDE
.vscode/
.idea/
*.swp
*.swo

# Presentation/Dashboards
presentation/
user_app_dashboard.py
admin_app_dashboard.py
*_dashboard.py

# Next.js / Node
next-swc.*.node
.next/
.npm/

# Temporary Scripts
check_dates.py
clear_data.py
mnist_cnn.pt

# Others
.zip
.log
audit.log
.pid
caffeine/
caffeine
forcodex/

# Custom Scripts Folder
cyj_scripts/
forAntigravity/
cyj_log/
